body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
  background-image: url('images.img/fondo/esmalte-rosa.jpeg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1px);
  background-repeat: no-repeat;
}

header {
  padding: 0px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.082);
}



h2 {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #501d06;
}


ul li {
  font-size: 22px;
}

/*HERO*/
#btn-go-reservar {
  margin-bottom: 25px;
}

/*.....................................................................................*/

.video-nails {
  max-width: 370px;
}



/*CAROUSEL*/
#crousel-triple {
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
}

#carouselMulti {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#carousel-triple img {
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}


.btn {
  background-color: #6d4920cc;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a1512c;
}


/*FORM*/

.wrap-form {
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
}

.wrap-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-send {
  display: flex;
  justify-content: center;
}


/*MOBILE*/

@media (max-width: 768px) {

  #carousel-triple {
    display: none;
  }

  #carouselMobile .carousel-item {
  height: 600px; 
}

  /* Limita el ancho para que no ocupe todo el viewport */
  .gallery-mobile {
    max-width: 330px;
    margin: 0 auto;
  }

  /* Asegura que la imagen respete proporción */
  #carouselMobile .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
  }

  /* Esconde flechas si por alguna razón aparecieran */
  #carouselMobile .carousel-control-prev,
  #carouselMobile .carousel-control-next {
    display: none !important;
  }

  /* Opcional: quita scroll bar en WebKit */
  #carouselMobile .carousel-inner {
    overflow-x: hidden;
  }

  .send-form {
    width: 100%;
    max-width: 1000px;
  }
}