body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
  background-image: url('images.img/fondo/esmalte-rosa.jpeg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
}

header {
  padding: 0px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.082);
}

.container {
  padding: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

ul li{
  font-size: 20px;
}

/*CAROUSEL*/
.object-fit-cover {
  object-fit: cover;
}

/* personaliza los indicadores (dots) */
#carouselExampleFade .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);
}

#carouselExampleFade .carousel-indicators .active {
  background-color: #a1512c; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-size: 3rem 3rem;
}

#carousel-crossfade .btn-outline-primary {
  border-color: #a1512c;
  color: white;
}
#carousel-crossfade .btn-outline-primary:hover {
  background-color: #a1512c;
  color: #fff;
}

.btn {
  background-color: #6d4920cc;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a1512c;
}
