body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.light-mode {
  --background-color: #ffffff;
  --text-color: #501d06;
  --hover-color: #a85b3b;
  --footer-border-color: rgba(80, 29, 6, 0.2);
}

body.dark-mode {
  --background-color: #212529;
  --text-color: #f8f9fa;
  --hover-color: #a85b3b;
  --footer-border-color: rgba(248, 249, 250, 0.2);
}

header {
  padding: 0px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.082);
}



h2 {
  font-family: "Libertinus Mono", monospace;
  font-style: normal;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
}


ul li {
  font-size: 20px;
}


/*........................................hero.............................................*/
#btn-go-reservar{
margin-bottom: 20px;
}


/*........................................video nails.............................................*/

.video-nails {
  max-width: 370px;
}
.text-video-nails{
  padding-top: 15px;
}



/*........................................carousel.............................................*/
 .carousel-text{
  padding-bottom: 5px;
  padding-top: 60px;
  text-align: center;
 }

#crousel-triple {
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
}

#carouselMulti {
  max-height: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#carousel-triple img {
  width: 100%;
  object-fit: cover;
  max-width: 300px;
  height: 500px;
}


.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


/*........................................form.............................................*/

.wrap-form {
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
}

.wrap-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-send {
  display: flex;
  justify-content: center;
}


/*........................................mobile.............................................*/

@media (max-width: 768px) {

  #carouselMulti {
    display: none;
  }

  #carouselMobile {
    display: flex;

  }

  #carouselMobile .carousel-item {
    height: 450px;
  }


  /* Limita el ancho para que no ocupe todo el viewport */
  .gallery-mobile {
    max-width: 330px;
    margin: 0 auto;
  }

  /* Asegura que la imagen respete proporción */
  #carouselMobile .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: flex;
    justify-self: center;
  }

  /* Esconde flechas si por alguna razón aparecieran */
  #carouselMobile .carousel-control-prev,
  #carouselMobile .carousel-control-next {
    display: none !important;
  }

  /* Opcional: quita scroll bar en WebKit */
  #carouselMobile .carousel-inner {
    overflow-x: hidden;
  }

  .send-form {
    width: 100%;
    max-width: 1000px;
  }

  .my-hero-title{
    font-size: 30px;
  }

  .image-hero {
  width: 85%;
}

.video-nails{
  max-width: 85%;
  width: 100%;
  max-height: 50%;
  height: 100%;
}

}

@media (min-width: 768px) {

  #carouselMobile {
    display: none;
  }
 .nails-container{
  padding-bottom: 5rem;
  padding-top: 5rem;
}
}
/*........................................Footer.............................................*/

.my-footer {
  backdrop-filter: blur(5px);
  border-top: 1px solid var(--footer-border-color);
  color: var(--text-color);
  font-size: 16px;
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--hover-color);
}

.accordion-item {
 background-color: transparent;
  border-radius: 10px;
  margin-bottom: 10px;
}

.accordion-button {
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(255, 255, 255, 0.25); /* when open */
  color: var(--text-color);
}
